# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.idea
*.iml
.vscode/settings.json

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

/public/css/output.css

/test-results/
/playwright-report/
/playwright/.cache/
/playwright-screenshots/
