# Files
/**/*/.env
/**/*/.env.*
/**/*/README.md
/**/*/.git
/**/*/.github
/**/*/.gitignore
/**/*/.dockerignore
/**/*/.turbo
/**/*/npm-debug.log
/**/*/Dockerfile

# Directories
/**/*/node_modules
/**/*/test
/**/*/dist

# Auth.js Dirs
apps/*
docs/**
packages/**
!packages/next-auth
!packages/core
!packages/utils
!apps/examples/nextjs-docker
