../core/adapters.*
../core/index.*
../core/jwt
../core/lib
../core/providers
.gitignore

../frameworks-sveltekit/*.cjs
../frameworks-sveltekit/client.*
../frameworks-sveltekit/index.*
../frameworks-sveltekit/tests
../frameworks-sveltekit/.svelte-kit