.prettierignore
.cache-loader
.DS_Store
.pnpm-debug.log
.turbo
.vscode/generated*
/_work
/actions-runner
node_modules
patches
pnpm-lock.yaml
.github/actions/issue-validator/index.mjs
*.d.ts
*.d.ts.map
**/*.sh

.svelte-kit
.next
.nuxt

# --------------- Docs ---------------

.next
docs/pages/reference
static
docs/manifest.mjs

# --------------- Packages ---------------

coverage
dist
packages/**/*.cjs
packages/**/*.js
!packages/*/scripts/*.js

# @auth/core
packages/core/src/providers/provider-types.ts
packages/core/src/lib/pages/styles.ts

# @auth/sveltekit
packages/frameworks-sveltekit/package
packages/frameworks-sveltekit/vite.config.{js,ts}.timestamp-*

# @auth/express
packages/frameworks-express/providers

# next-auth
packages/next-auth/src/providers/provider-types.ts
packages/next-auth/css/index.css

# Adapters
.branches
db.sqlite
dev.db
dynamodblocal-bin
firebase-debug.log
firestore-debug.log
migrations
test.schema.gql

# --------------- Apps ---------------

# Examples should have their own Prettier config since they are templates too
apps/example-sveltekit

# Development app
apps/dev/prisma
apps/dev/migrations
apps/dev/typeorm
