.card-list {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  gap: 8px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #dbdde1;
  border-radius: 8px;
  height: 80px;
  width: calc(33.33% - 16px);
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: black;
  gap: 8px;
  text-decoration: none;
  transition: 0.2s background-color ease-in-out;
}

html[data-theme="dark"] .card {
  color: #f5f5f5;
}

html[data-theme="dark"] .card:hover,
.card:hover {
  text-decoration: none;
  color: black;
  background-color: #f5f5f5;
}

.card__title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
