/* stylelint-disable docusaurus/copyright-header */
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0 0 0;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem 2rem 0 2rem;
  }
}

.heroLogo {
  margin-bottom: .5rem;  
  width: 8rem;
}

@media screen and (min-width: 689px) {
  .heroLogo {
    margin-bottom: -.5rem;
  }
}

@media screen and (min-width: 689px) {
  .heroText {
    display: inline-block;
    margin: 1rem 1.5rem 0 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem 0 1rem;
}

.button {
  margin: 0 0.5rem;
}

.features {
  display: flex;
  align-items: center;
  padding-top: 4rem;
  margin: 0 auto 0 auto;
  width: 100%;
}

.features h2 {
  font-size: 2rem;
  line-height: 3rem;
  margin: 2rem 0 4rem 0;
}

.features h3 {
  font-size: 2.5rem;
  line-height: 4rem;
  margin: 1rem 0 1rem 0;
  font-weight: 700;
}

.features ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.features ul li {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  opacity: 0.8;
  white-space: nowrap;
  font-weight: 500;
  text-align: center;
}

.features ul li em {
  font-weight: 300;
  font-style: normal;
}

.featureImage {
  height: 220px;
  width: 220px;
}
