/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* @TODO Move as many styles for the homepage as possible into styles.module.css */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-link: #289ef9;
  --ifm-color-primary: #1eb1fc;
  --ifm-color-primary-dark: #03a7fa;
  --ifm-color-primary-darker: #039eed;
  --ifm-color-primary-darkest: #0382c3;
  --ifm-color-primary-light: #3abbfc;
  --ifm-color-primary-lighter: #48bffd;
  --ifm-color-primary-lightest: #03a7fa;
  --ifm-code-font-size: 95%;
  --ifm-color-info: #1eb1fc;
  --ifm-color-success: #1eb1fc;
  --ifm-color-warning: #c94b4b;
  --ifm-font-family-base: -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ifm-background-color: #fff;
  --ifm-footer-background-color: #f9f9f9;
  --ifm-hero-background-color: #f5f5f5;
  --ifm-navbar-background-color: rgba(255, 255, 255, 0.95);
  --ifm-h1-font-size: 3rem;
  --ifm-h1-font-size: 2rem;
}

html[data-theme="dark"]:root {
  --ifm-color-link: #289ef9;
  --ifm-footer-background-color: #000;
  --ifm-html-background-color: #242526;
  --ifm-background-color: #090909;
  --ifm-hero-background-color: #111111;
  --ifm-navbar-background-color: rgba(0, 0, 0, 0.95);
}

html[data-theme="dark"] {
  --ifm-background-color: #1f201c;
}

@import "hero.css";
@import "admonitions.css";
@import "buttons.css";
@import "providers.css";
@import "navbar.css";
@import "search.css";

@media screen and (max-width: 360px) {
  html {
    font-size: 0.8rem;
  }
}

a {
  font-weight: 600;
}

.navbar .navbar__link {
  font-weight: 600;
  font-size: 1.1rem;
}

a,
a:hover,
.navbar .navbar__link:hover {
  color: var(--ifm-color-link);
}

.hash-link {
  text-decoration: none;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.rounded-pill {
  border-radius: 2rem;
}

.pagination-nav {
  display: none;
}

hr {
  margin-top: 2.5rem;
  border-color: #ddd;
}

html[data-theme="dark"] hr {
  border-color: #242526;
}

.home-main .code {
  padding: 0;
  height: 100%;
  font-size: 0.9rem;
  background: #1e1e1e;
  overflow: hidden;
  border-radius: 0.5rem;
}

.home-main .code-heading {
  color: rgba(255, 255, 255, 1);
  background: #191a1b;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
}

.home-main .code .code-heading span {
  opacity: 0.6;
  float: right;
  font-weight: normal;
}

.home-main .col {
  margin-bottom: 1.5rem;
}

.home-main .row {
  margin-bottom: 2rem;
}

.home-main .feature-image-wrapper {
  display: inline-block;
  overflow: auto;
  padding: 2rem;
  border-radius: 10rem;
  overflow: visible;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  background-image: url("/img/mesh-1.jpg");
  background-size: cover;
  background-origin: center;
}

.home-main .section-features .row .col:nth-child(2) .feature-image-wrapper {
  background-image: url("/img/mesh-2.jpg");
  background-size: cover;
  background-origin: center;
}

.home-main .section-features .row .col:nth-child(3) .feature-image-wrapper {
  background-image: url("/img/mesh-3.jpg");
  background-size: cover;
  background-origin: center;
}

.home-main .feature-image-wrapper img {
  filter: saturate(1.2) contrast(1.4);
  zoom: 0.7;
}

.main-wrapper h1 {
  font-weight: 800;
  margin-bottom: 2rem;
}

.main-wrapper h2 {
  font-weight: 800;
}

.main-wrapper h3 {
  font-weight: 600;
}

@media screen and (max-width: 996px) {
  .main-wrapper > div {
    flex-direction: column;
  }
}

.inline {
  display: inline-block;
}
