extends layout

block content
  h1=title
  p
    | This is an example site to demonstrate how to use #{ ' ' }
    a(href="https://expressjs.com/") Express
    | #{ ' ' } with #{ ' ' }
    a(href="https://authjs.dev/reference/express") Express Auth
    |
    | for authentication.
