# Rename file to .env.local (or .env) and populate values
# to be able to run the dev app

NEXTAUTH_URL=http://localhost:3000

# You can use `openssl rand -hex 32` or 
# https://generate-secret.vercel.app/32 to generate a secret.
# Note: Changing a secret may invalidate existing sessions
# and/or verification tokens.
SECRET= 

AUTH0_ID=
AUTH0_SECRET=
AUTH0_ISSUER=

IDS4_ID=
IDS4_SECRET=
IDS4_ISSUER=

GITHUB_ID=
GITHUB_SECRET=

TWITCH_ID=
TWITCH_SECRET=

TWITTER_ID=
TWITTER_SECRET=

# Example configuration for a Gmail account (will need SMTP enabled)
EMAIL_SERVER=smtps://user@gmail.com:password@smtp.gmail.com:465
EMAIL_FROM=user@gmail.com

# Note: If using with Prisma adapter, you need to use a `.env`
# file rather than a `.env.local` file to configure env vars.
# Postgres: DATABASE_URL=postgres://nextauth:password@127.0.0.1:5432/nextauth?synchronize=true
# MySQL:    DATABASE_URL=mysql://nextauth:password@127.0.0.1:3306/nextauth?synchronize=true
# MongoDB:  DATABASE_URL=mongodb://nextauth:password@127.0.0.1:27017/nextauth?synchronize=true
DATABASE_URL=