body {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  max-width: 960px;
  margin: 0 auto;
  background: #fff;
  color: var(--color-text);
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

li,
p {
  line-height: 1.5rem;
  margin: 0;
}

a {
  font-weight: 500;
}

hr {
  border: 1px solid #ddd;
}

iframe {
  background: #ccc;
  border: 1px solid #ccc;
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  filter: invert(1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

main {
  flex-grow: 1;

  @media screen and (max-width: 960px) {
    padding: 0 1rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  justify-content: flex-start;
}

.card {
  border-radius: 0.75rem;
  background-color: #f3f3f3;

  .card-header {
    border-radius: 0.75rem 0.75rem 0 0;
    background-color: #dfdfdf;
    padding: 1.1rem;
  }

  .card-body {
    padding: 1.1rem;
  }

  .card-footer {
    padding: 1.1rem;
    padding-top: 0;
    color: #777;
    font-style: italic;
  }

  pre {
    background-color: #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
    word-break: break-all;
    white-space: pre-wrap;
  }

  .btn-wrapper {
    display: flex;
    gap: 1rem;
  }

  button {
    justify-self: end;
    font-weight: 500;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 0.7rem 0.8rem;
    position: relative;
    z-index: 10;
    background-color: #d5d5d5;
    color: black;
    text-decoration: none;
    padding: 0.7rem 1.4rem;
  }
  button:hover {
    background-color: #ccc;
  }

  input {
    padding: 0.7rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1.4rem;
    background-color: #fff;
    color: black;
    margin-bottom: 1rem;
  }

  input:focus {
    outline: none;
    border-color: #999;
    background-color: #fafafa;
  }
}
