AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# https://discord.com/developers/
AUTH_DISCORD_ID=
AUTH_DISCORD_SECRET=

# On UNIX systems you can use `openssl rand -hex 32` or
# https://generate-secret.vercel.app/32 to generate a secret.
AUTH_SECRET=
