NUXT_AUTH_GITHUB_ID=
NUXT_AUTH_GITHUB_SECRET=

# https://discord.com/developers/
NUXT_AUTH_DISCORD_ID=
NUXT_AUTH_DISCORD_SECRET=

# On UNIX systems you can use `openssl rand -hex 32` or
# https://generate-secret.vercel.app/32 to generate a secret.
NUXT_AUTH_SECRET=
