extends layout

block content
  h1(class="mb-2 text-3xl font-medium") Access Denied
  p
    | You must be #{ ' ' }
    a(href="/api/auth/signin", class="underline") signed in
    | #{ ' ' } to view this page
