* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

#app {
  display: flex;
  justify-content: center;
}

.button,
.button-primary {
  justify-self: end;
  font-weight: 500;
  border-radius: 0.3rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0.7rem 0.8rem;
  position: relative;
  z-index: 10;
  background-color: transparent;
  color: #555;
}

.button-primary {
  background-color: #346df1;
  border-color: #346df1;
  color: #fff;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
}

.button-primary:hover {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.2);
}

main {
  max-width: 968px;
  margin-inline: 1rem;
}

section.main {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
  gap: 1rem;

  .session {
    background-color: #eee;
    border-radius: 0.4rem;

    h3 {
      padding: 1rem;
      background-color: #ddd;
      border-radius: 0.4rem 0.4rem 0 0;
    }

    pre {
      padding: 1rem;
    }
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding-inline: 2rem;
    padding: 1em;

    img {
      width: 48px;
    }

    .nav-right {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }

  .nav-links {
    display: flex;
    align-items: stretch;

    a {
      background-color: #ccc;
      color: #000;
      padding: 1rem 1rem;
      border-radius: 0 0 1rem 1rem;
      text-decoration: none;
    }

    .active {
      font-weight: 700;
    }
  }
}
