:root {
  --primary-color: #444;
  --border-width: 1px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-weight: 300;
}

form {
  margin: 0;
  padding: 0;
}

input[type="text"] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  border: var(--border-width) solid #888;
  background: #fff;
  font-size: 1rem;
  border-radius: .2rem;

  :focus {
    border-color: var(--primary-color);
  }
}

p {
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 1rem;
}

button,
a.button {
  margin: 0;
  padding: .5rem 1rem;
  border: var(--border-width) solid var(--primary-color);
  color: var(--primary-color);
  background: #fff;
  font-size: 1rem;
  border-radius: .2rem;
  transition: all .1s ease-in-out;  
}

button {
  &:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
  }
}

a.button {
  text-decoration: none;

  &:link,
  &:visited {
    background-color: #fff;
    color: var(--primary-color);
  }

  &:hover,
  &:active {
    background-color: var(--primary-color);
    color: #fff;
  }
}

a.site {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1rem;
  line-height: 2rem;
  &:hover {
    text-decoration: underline;
  }
}

.page {
  position: absolute; 
	width: 100%;
  height: 100%;
  display: table;
  margin: 0;
  padding: 0;

  > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0.5rem;
  }
}

.error {
  a.button {
    display: inline-block;
  }
  .message {
    margin-bottom: 1.5rem;
  }
}

.signin {
  a.button,
  button,
  input[type="text"] {
    margin: 0 auto 0 auto;
    display: block;
  }
  hr {
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em auto;
  }
  p,
  form {
    display: block;
    margin: 0 auto 0.5rem auto;
    input[type="text"] {
      margin-bottom: 0.5rem;
    }
    button {
      width: 100%;
    }
    max-width: 300px;
  }
}

