:root {
  --primary-color: #444;
}

body {
  margin: 1rem;
  font-family: sans-serif;
}

h1 {
  font-weight: 300;
}

form {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: .5rem 2rem;
  border: .1rem solid var(--primary-color);
  color: var(--primary-color);
  background: #fff;
  font-size: 1.1rem;
  border-radius: .2rem;
  
  &:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
  }
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.signin,
.signout {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;

  p {
    margin: 0 0 0.5rem 0;
    padding: 0;
  }

  a.site {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem;
    line-height: 2rem;
    padding-bottom: .5rem;
    &:hover {
      text-decoration: underline;
    }
  }
}

.signin {
  a[data-provider] {
    display: block;
    margin: 0 auto 0 auto;
    padding: .5rem 2rem;
    border: .1rem solid var(--primary-color);
    border-radius: .2rem;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all .1s ease-in-out;

    &:link,
    &:visited {
      background-color: #fff;
      color: var(--primary-color);
    }

    &:hover,
    &:active {
      background-color: var(--primary-color);
      color: #fff;
    }
  }
}