:root {
  --color-background: #fff;
  --color-primary: #444;
  --color-control-border: #bbb;
  --color-button-active-background: #f9f9f9;
  --color-button-active-border: #aaa;
  --border-width: 1px;
  --border-radius: .3rem;
  --color-error: #c94b4b;
  --color-info: #157efb;
  --color-seperator: #ccc;
}

body {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  font-family: -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1 {
  font-weight: 400;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}

form {
  margin: 0;
  padding: 0;
}

label {
  font-weight: 500;
  text-align: left;
  margin-bottom: 0.25rem;
  display: block;
  color: #666;
}

input[type] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  border: var(--border-width) solid var(--color-control-border);
  background: var(--color-background);
  font-size: 1rem;
  border-radius: var(--border-radius);
  box-shadow: inset 0 .1rem .2rem rgba(0, 0, 0, .2);

  &:focus {
    box-shadow: none;
  }
}

p {
  margin: 0 0 1.5rem 0;
  padding: 0 1rem;
  font-size: 1.1rem;
  line-height: 2rem;
}

a.button {
  text-decoration: none;
  line-height: 1rem;

  &:link,
  &:visited {
    background-color: var(--color-background);
    color: var(--color-primary);
  }
}

button,
a.button {
  margin: 0 0 .75rem 0;
  padding: .75rem 1rem;
  border: var(--border-width) solid var(--color-control-border);
  color: var(--color-primary);
  background-color: var(--color-background);
  font-size: 1rem;
  border-radius: var(--border-radius);
  transition: all .1s ease-in-out;
  box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, .15), inset 0 .1rem .2rem var(--color-background), inset 0 -.1rem .1rem rgba(0, 0, 0, .05);
  font-weight: 500;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &:active {
    box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, .15), inset 0 .1rem .2rem var(--color-background), inset 0 -.1rem .1rem rgba(0, 0, 0, .1);
    background-color: var(--color-button-active-background);
    border-color: var(--color-button-active-border);
    cursor: pointer;
  }
}

a.site {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1rem;
  line-height: 2rem;

  &:hover {
    text-decoration: underline;
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  margin: 0;
  padding: 0;

  >div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0.5rem;
  }
}

.error {
  a.button {
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: .5rem;
  }

  .message {
    margin-bottom: 1.5rem;
  }
}

.signin {

  button,
  a.button,
  input[type="text"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  hr {
    display: block;
    border: 0;
    border-top: 1px solid var(--color-seperator);
    margin: 1.5em auto 0 auto;
    overflow: visible;

    &::before {
      content: "or";
      background: var(--color-background);
      color: #888;
      padding: 0 .4rem;
      position: relative;
      top: -.6rem;
    }
  }

  .error {
    background: #f5f5f5;
    font-weight: 500;
    border-radius: 0.3rem;
    background: var(--color-info);
    color: #fff;

    p {
      text-align: left;
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
      line-height: 1.2rem;
    }
  }

  >div,
  form {
    display: block;
    margin: 0 auto 0.5rem auto;

    input[type] {
      margin-bottom: 0.5rem;
    }

    button {
      width: 100%;
    }

    max-width: 300px;
  }
}