:root {
  --color-primary: #444;
  --color-control-border: #aaa;
  --color-button-hover-background: #f9f9f9;
  --color-button-active-background: #f1f1f1;
  --border-width: 1px;
  --border-radius: .3rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1 {
  font-weight: 300;
}

form {
  margin: 0;
  padding: 0;
}

input[type="text"] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  border: var(--border-width) solid var(--color-control-border);
  background: #fff;
  font-size: 1rem;
  border-radius: var(--border-radius);
  box-shadow: inset 0 .1rem .2rem rgba(0,0,0,.2);

  &:focus {
    box-shadow: none;
  }
}

p {
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 1rem;
}

a.button {
  text-decoration: none;

  &:link,
  &:visited {
    background-color: #fff;
    color: var(--color-primary);
  }
}

button,
a.button {
  margin: 0;
  padding: .5rem 1rem;
  border: var(--border-width) solid var(--color-control-border);
  color: var(--color-primary);
  background-color: #fff;
  font-size: 1rem;
  border-radius: var(--border-radius);
  transition: all .1s ease-in-out;  
  box-shadow: 0 .1rem .2rem rgba(0,0,0,.2);
  font-weight: 500;
  position: relative;

  &:hover {
    background-color: var(--color-button-hover-background);
    cursor: pointer;
  }
  
  &:active {
    background-color: var(--color-button-active-background);
    cursor: pointer;
    top: .05rem;
    box-shadow: 0 .05rem .2rem rgba(0,0,0,.2);
  }
}

a.site {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1rem;
  line-height: 2rem;
  &:hover {
    text-decoration: underline;
  }
}

.page {
  position: absolute; 
	width: 100%;
  height: 100%;
  display: table;
  margin: 0;
  padding: 0;

  > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0.5rem;
  }
}

.error {
  a.button {
    display: inline-block;
  }
  .message {
    margin-bottom: 1.5rem;
  }
}

.signin {
  a.button,
  button,
  input[type="text"] {
    margin: 0 auto 0 auto;
    display: block;
  }
  hr {
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1.5em auto 0 auto;

    &::before {
      content: "or";
      background: #fff;
      color: #888;
      padding: 0 .4rem;
      position: relative;
      top: -.6rem;
    }
  }
  > div,
  form {
    display: block;
    margin: 0 auto 0.5rem auto;
    input[type="text"] {
      margin-bottom: 0.5rem;
    }
    button {
      width: 100%;
    }
    max-width: 300px;
  }
}

