---
import Layout from '../layouts/Layout.astro';
import type { Session } from '@auth/core/types';
import { Auth, Signin, Signout } from '@auth/astro/components';
import { authOpts } from './api/auth/[...astroAuth]';
---

<Layout title="Welcome to Astro Auth">
  <Auth authOpts={authOpts}>
    {(session: Session) => 
      <main>
        <h1>Astro + AuthJS</h1>
        <p>
          <a href="/protected">Protected Route</a>
        </p>
        <Signin provider="github">Login</Signin>
        <Signout>Logout</Signout>
        <p>
          {session ? `Logged in as ${session.user?.name}` : 'Not logged in'}
        </p>
      </main>
    }
  </Auth>
</Layout>
