---
import Layout from '../layouts/Layout.astro';
import type { Session } from '@auth/core/types';
import { Auth, SignIn, SignOut } from '@auth/astro/components';
import { getSession } from '@auth/astro/server'
let session = await getSession(Astro.request);
---

<Layout title="Welcome to Astro Auth">
  <Auth>
    {(session: Session) => 
      <main>
        <h1>Astro + AuthJS</h1>
        <p>
          <a href="/protected">Protected Route</a>
        </p>
        <SignIn>Login</SignIn>
        <SignOut>Logout</SignOut>
        <p>
          {session ? `Logged in as ${session.user?.name}` : 'Not logged in'}
        </p>
      </main>
    }
  </Auth>
</Layout>
