/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: white;
  height: 100%;
  width: 100%;
}
