
.button {
  border-width: .15rem;
  transition-duration: 0s;
  box-shadow: 0 0 2rem rgba(0,0,0,.1);
}

.button--primary,
.button--primary:hover {
  background: linear-gradient(0deg, var(--ifm-color-primary-dark) 0%, var(--ifm-color-primary) 100%);
  color: #fff;
  border-color: transparent;
}

.button.button--secondary.button--outline,
.button.button--secondary.button--outline:link,
.button.button--secondary.button--outline:visited,
.button.button--secondary.button--outline:hover,
.button.button--secondary.button--outline:active {
  border-color: #ccc;
  background: #fff;
  color: #444 !important
}

html[data-theme="dark"] .button.button--secondary.button--outline {
  border-color: #444;
  background: #000;
  color: #ccc !important
}