
.button {
  border-width: .15rem;
  transition-duration: 0s;
  box-shadow: 0 0 2rem rgba(0,0,0,.1);
}

.button--primary,
.button--primary:hover {
  background: linear-gradient(0deg, var(--ifm-color-primary-dark) 0%, var(--ifm-color-primary) 100%);
  color: #fff;
  border-color: transparent;
}

.button.button--secondary.button--outline,
.button.button--secondary.button--outline:link,
.button.button--secondary.button--outline:visited,
.button.button--secondary.button--outline:hover,
.button.button--secondary.button--outline:active {
  border-color: #ccc;
  background: #fff;
  color: #444 !important
}

html[data-theme="dark"] .button.button--secondary.button--outline {
  border-color: #444;
  background: #000;
  color: #ccc !important
}

.button.button--secondary.button--sm.menu__button {
  border-radius: 0;
  margin: 0;
  top: 3.6rem;
  right: 0;
  bottom: auto;
  width: 100%;
  border-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,.1);
  text-align: left;
  padding: .5rem 1rem;
  z-index: 50;
  background: #fff;
}

html[data-theme='dark'] .button.button--secondary.button--sm.menu__button {
  border-bottom: 1px solid rgba(255,255,255,.1);
  background: #242526;
  color: #fff;
}

.menu--show .button.button--secondary.button--sm.menu__button {
  top: .25rem;
  right: .25rem;
  width: auto;
  padding: 0 .4rem;
  border: none;
  border-radius: 2rem;
}

.button.button--secondary.button--sm.menu__button:before {
  font-size: 1rem;
  line-height: 2rem;
  content: "Browse Documentation";
  text-decoration: underline;
  display: block;
}

.menu--show .button.button--secondary.button--sm.menu__button:before {
  font-size: 1rem;
  line-height: 1.4rem;
  content: "✕";
  text-decoration: none;
  display: block;
  color: #888;
  border: none;
}

.button.button--secondary.button--sm.menu__button svg,
.button.button--secondary.button--sm.menu__button span {
  display: none;
}
