/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* @TODO Move as many styles for the homepage as possible into styles.module.css */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1eb1fc;
  --ifm-color-primary-dark: #03a7fa;
  --ifm-color-primary-darker: #039eed;
  --ifm-color-primary-darkest: #0382c3;
  --ifm-color-primary-light: #3abbfc;
  --ifm-color-primary-lighter: #48bffd;
  --ifm-color-primary-lightest: #03a7fa;
  --ifm-code-font-size: 95%;
  --ifm-color-info: #1eb1fc;
  --ifm-color-success: #1eb1fc;
  --ifm-color-warning: #c94b4b;
  --ifm-font-family-base: -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html[data-theme='dark'] {
  background: #191A1B;
}

a,
.navbar .navbar__link {
  font-weight: 600;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.admonition-icon {
  margin-right: .5rem;
}

.rounded-pill {
  border-radius: 2rem;
}

.navbar__title {
  font-size: 1.2rem;
  margin-left: .2rem;
}

.navbar {
  box-shadow: 0 0 .5rem rgba(0,0,0,.2)
}

.hero {
  margin-top: 2rem;
  background: none;
  color: black;
}

.hero .hero__title {  
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 668px) {
  .hero .hero__title {
    font-size: 4.8rem;
  }
}

.hero .hero__subtitle {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  opacity: 0.6;
}

@media screen and (min-width: 668px) {
  .hero .hero__subtitle {
    font-size: 1.5rem;
  }
}

.home-subtitle {
  justify-content: center;
  padding-top: 1rem;
  opacity: 0.7;
  font-style: italic;
}

.home-main h2 {
  line-height: 3.5rem;
  margin: 0.5rem 0;  
}

.home-main .code {
  padding: 0;
  height: 100%;
  font-size: 0.9rem;
  background: #292D3D;
  overflow: hidden;
  border-radius: .5rem;
}

.home-main .code .code-heading {
  color: rgba(255,255,255,.8);
  background: rgba(0,0,0,.2);
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
}

.home-main .col {
  margin-bottom: 1.5rem;
}

.home-main .row {
  margin-bottom: 2rem;
}

.navbar__item.navbar__link[href*="github"],
.navbar__item.navbar__link[href*="npmjs"] {
  padding: 0 1rem 0 0;
  display: flex;
  font-size: 0;
}

.navbar__item.navbar__link[href*="github"]:before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/img/brand-github.svg");
  background-repeat: no-repeat;
}

html[data-theme='dark'] .navbar__item.navbar__link[href*="github"]:before {
  background-image: url("/img/brand-github-inverted.svg");
}

.navbar__item.navbar__link[href*="npmjs"]:before {
  content: "";
  width: 3rem;
  height: 1.2rem;
  margin-top: .2rem;
  background-image: url("/img/brand-npm.svg");
  background-repeat: no-repeat;
}

html[data-theme='dark'] .navbar__item.navbar__link[href*="npm"]:before {
  background-image: url("/img/brand-npm-inverted.svg");
}

@media screen and (max-width: 966px) {
  .navbar__item.navbar__link[href*="github"],
  .navbar__item.navbar__link[href*="npmjs"] {
    display: none;
  }
}

html[data-theme='dark'] { 
  --ifm-background-color: #1F201C;
}

.home-main .section-features {
   background-color: rgba(0,0,0,.05);
}

.home-main .feature-image-wrapper {
  display: inline-block;
  overflow: auto;
  padding: 0.3rem;
  border-radius: 10rem;
  overflow: visible;
  background-color: #fff;
}

.home-main .feature-image-wrapper img {
  zoom: 1;
}

html[data-theme="dark"] .hero .hero__title,
html[data-theme="dark"] .hero .hero__subtitle,
html[data-theme="dark"] .home-subtitle,
html[data-theme="dark"] .hero .button:not(.button--outline),
html[data-theme="dark"] .hero .button:hover {
  color: white;
}

html[data-theme='dark'] .footer.footer--dark {
  --ifm-footer-background-color: #242526;
}
