/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* @TODO Move as many styles for the homepage as possible into styles.module.css */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-link: #289EF9;
  --ifm-color-primary: #1eb1fc;
  --ifm-color-primary-dark: #03a7fa;
  --ifm-color-primary-darker: #039eed;
  --ifm-color-primary-darkest: #0382c3;
  --ifm-color-primary-light: #3abbfc;
  --ifm-color-primary-lighter: #48bffd;
  --ifm-color-primary-lightest: #03a7fa;
  --ifm-code-font-size: 95%;
  --ifm-color-info: #1eb1fc;
  --ifm-color-success: #1eb1fc;
  --ifm-color-warning: #c94b4b;
  --ifm-font-family-base: -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ifm-background-color: #fff;
  --ifm-footer-background-color: #f9f9f9;
  --ifm-hero-background-color: #f5f5f5;
  --ifm-navbar-background-color: rgba(255,255,255,0.95);
}

html[data-theme='dark']:root {
  --ifm-color-link: #289EF9;
  --ifm-footer-background-color: #111;
  --ifm-html-background-color: #242526;
  --ifm-background-color: #000000;
  --ifm-hero-background-color: #111111;
  --ifm-navbar-background-color: rgba(0,0,0,0.95);
}

@import "hero.css";
@import "admonitions.css";
@import "buttons.css";
@import "table-of-contents.css";
@import "sidebar.css";

@media screen and (max-width: 360px) {
  html {
    font-size: 0.8rem;
  }
}

a {
  font-weight: 600;
}

.navbar .navbar__link {
  font-weight: 600;
  font-size: 1.1rem;
}

a,
a:hover,
.navbar .navbar__link:hover {
  text-decoration: underline;
  color: var(--ifm-color-link);
}

.hash-link {
  text-decoration: none;
}

.navbar__toggle {
  margin-right: 1rem !important;
}

.main-wrapper h1 {
  font-weight: 700;
  margin-bottom: 2rem;
}

.main-wrapper h2 {
  font-weight: 700;
}

.main-wrapper h3 {
  font-weight: 600;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.rounded-pill {
  border-radius: 2rem;
}

.pagination-nav {
  display: none;
}

.navbar {
  box-shadow: none;
}

.navbar__title {
  font-size: 1.2rem;
  margin-left: .2rem;
  display: none;
}

.navbar-sidebar__brand .navbar__title { 
   display: inline;
}

@media screen and (min-width: 420px) {
  .navbar__title {
    display: inline;
  }
}

.home-subtitle {
  justify-content: center;
  padding: 0rem 0 2rem 0;
  opacity: 0.8;
  font-style: italic;
  margin: 0;
  font-size: 1.2rem;
}

.home-main .code {
  padding: 0;
  height: 100%;
  font-size: 0.9rem;
  background: #1E1E1E;
  overflow: hidden;
  border-radius: .5rem;
}

.home-main .code .code-heading {
  color: rgba(255,255,255,1);
  background: #191A1B;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
}

.home-main .col {
  margin-bottom: 1.5rem;
}

.home-main .row {
  margin-bottom: 2rem;
}

hr {
  margin-top: 2.5rem;
  border-color: #ddd;
}

html[data-theme='dark'] hr {
  border-color: #242526;
}

.navbar__item.navbar__link[href*="github"],
.navbar__item.navbar__link[href*="npmjs"] {
  padding: 0 1rem 0 0;
  display: flex;
  font-size: 0;
}

.navbar__item.navbar__link[href*="github"]:before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/img/brand-github.svg");
  background-repeat: no-repeat;
}

html[data-theme='dark'] .navbar__item.navbar__link[href*="github"]:before {
  background-image: url("/img/brand-github-inverted.svg");
}

.navbar__item.navbar__link[href*="npmjs"]:before {
  content: "";
  width: 3rem;
  height: 1.2rem;
  margin-top: .2rem;
  background-image: url("/img/brand-npm.svg");
  background-repeat: no-repeat;
}

html[data-theme='dark'] .navbar__item.navbar__link[href*="npm"]:before {
  background-image: url("/img/brand-npm-inverted.svg");
}

@media screen and (max-width: 966px) {
  .navbar__item.navbar__link[href*="github"],
  .navbar__item.navbar__link[href*="npmjs"] {
    display: none;
  }
}

html[data-theme='dark'] { 
  --ifm-background-color: #1F201C;
}

.home-main .feature-image-wrapper {
  display: inline-block;
  overflow: auto;
  padding: 0.6rem;
  border-radius: 10rem;
  overflow: visible;
  background-color: var(--ifm-color-primary);
  margin-bottom: 1rem;
  box-shadow: 0 0 2rem rgba(0,0,0,.1);
  background-image: linear-gradient(0deg, #1786FB 0%, #45EABA 100%);
}

.home-main .section-features .row .col:nth-child(2) .feature-image-wrapper {
  background-image: linear-gradient(0deg, #605BD4 0%, #E95595 100%);  
}


.home-main .section-features .row .col:nth-child(3) .feature-image-wrapper {
  background-image: linear-gradient(0deg, #FB6A22 0%, #FBB12E 100%);
}

.home-main .feature-image-wrapper img {
  filter: saturate(1.2) contrast(2);
  zoom: .80;
}

/* Targets the 'Documentation' button on mobile */
/* The UX is pretty poor but doing the best we can with it! */
.button.button--secondary.button--sm.menu__button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 1000;
  width: auto;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0,0,0,0.2);
}

html[data-theme='dark'] .button.button--secondary.button--sm.menu__button {
  background: #242526;
  color: #fff;
  box-shadow: 0 0 1rem rgba(0,0,0,0.4);
}

.button.button--secondary.button--sm.menu__button:before {
  font-size: 2rem;
  line-height: 2rem;
  content: "?";
  opacity: 0.8;
  display: block;
}