# Rename file to .env.local (or .env) and populate values
# to be able to run the dev app

# You can use `openssl rand -hex 32` or 
# https://generate-secret.vercel.app/32 to generate a secret.
# Note: Changing a secret may invalidate existing sessions
# and/or verification tokens.
AUTH_SECRET=secret

AUTH_ASGARDEO_CLIENT_ID=
AUTH_ASGARDEO_CLIENT_SECRET=
AUTH_ASGARDEO_ISSUER=

AUTH_AUTH0_ID=
AUTH_AUTH0_SECRET=
AUTH_AUTH0_ISSUER=

AUTH_ORY_HYDRA_CLIENT_ID=
AUTH_ORY_HYDRA_CLIENT_SECRET=
AUTH_ORY_HYDRA_ISSUER=

# Beyond Identity Provider
AUTH_BEYOND_IDENTITY_CLIENT_ID=
AUTH_BEYOND_IDENTITY_CLIENT_SECRET=
AUTH_BEYOND_IDENTITY_ISSUER=

AUTH_DESCOPE_ID=
AUTH_DESCOPE_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_NOTION_ID=
AUTH_NOTION_SECRET=
AUTH_NOTION_REDIRECT_URI=

AUTH_IDS4_ID=
AUTH_IDS4_SECRET=
AUTH_IDS4_ISSUER=

AUTH_KEYCLOAK_ID=
AUTH_KEYCLOAK_SECRET=
AUTH_KEYCLOAK_ISSUER=

AUTH_LINE_ID=
AUTH_LINE_SECRET=

AUTH_TRAKT_ID=
AUTH_TRAKT_SECRET=

AUTH_TWITCH_ID=
AUTH_TWITCH_SECRET=

AUTH_TWITTER_ID=
AUTH_TWITTER_SECRET=

AUTH_WIKIMEDIA_ID=
AUTH_WIKIMEDIA_SECRET=

AUTH_FRONTEGG_ID=
AUTH_FRONTEGG_SECRET=
AUTH_FRONTEGG_ISSUER=

# Yandex OAuth. new app -> https://oauth.yandex.com/client/new/id
AUTH_YANDEX_ID=
AUTH_YANDEX_SECRET=

# ClickUp OAuth. https://clickup.com/api/
AUTH_CLICK_UP_ID=
AUTH_CLICK_UP_SECRET=

# Example configuration for a Gmail account (will need SMTP enabled)
EMAIL_SERVER=smtps://user@gmail.com:password@smtp.gmail.com:465
EMAIL_FROM=user@gmail.com

# Note: If using with Prisma adapter, you need to use a `.env`
# file rather than a `.env.local` file to configure env vars.
# Postgres: DATABASE_URL=postgres://nextauth:password@127.0.0.1:5432/nextauth?synchronize=true
# MySQL:    DATABASE_URL=mysql://nextauth:password@127.0.0.1:3306/nextauth?synchronize=true
# MongoDB:  DATABASE_URL=mongodb://nextauth:password@127.0.0.1:27017/nextauth?synchronize=true
DATABASE_URL=

# Supabase Example Configuration
# Supabase Example Configuration
# NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
# SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSJ9.vI9obAHOGyVVKa3pD--kJlyxp-Z2zV9UUMAhKpNLAcU
# SUPABASE_JWT_SECRET=super-secret-jwt-token-with-at-least-32-characters-long
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24ifQ.625_WdcF3KHqz5amU0x2X5WWHP-OEs_4qj0ssLNHzTs
