name: Sync Example Repositories
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Run GitHub File Sync
        uses: balazsorban44/repo-file-sync-action@master
        with:
          GH_PAT: ${{ secrets.GH_PAT }}
          IS_FINE_GRAINED: true
          SKIP_PR: true
          ORIGINAL_MESSAGE: true
