name: Sync Example Repositories
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Run GitHub File Sync
        uses: BetaHuhn/repo-file-sync-action@v1.18.0
        with:
          GH_PAT: ${{ secrets.SYNC_EXAMPLE_PAT }}
          SKIP_PR: true
